
<style>
#header-img {
  width: 100px;
}
 
#header {
  display: flex;
  margin-left: 10px;
}

nav {
  display: flex;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aliceblue;
  z-index: 500;
}


h1 {
  font-family: 'Fredericka the Great', cursive;
  margin-left: 20px;
  font-size: 40px;
  color: gray;
  align-self: center;
}
#orgy {
  padding: 70px;
  font-size: 40px;
}

#expl {
  font-size: 20px;
}

#joel {
  font-size: 20px;
}

#hai {
  font-size: 20px;
}

#sammy {
  font-size: 20px;
}

a {
  align-self: center;
  justify-self: flex-end;
  margin-left: 150px;
  font-size: 50px;
  font-family: 'Fredericka the Great', cursive;
 color: black;
}

.right {
  display: flex;
 
}

.nav-link {
  display: flex;
  
}

h2 {
 padding: 50px;
 font-family: 'Fredericka the Great', cursive;
}


#founders {
  /*display: grid;*/
  /*grid-template-columns: 200px 200px 200px 200px;*/
  /*grid-template-rows: 250px 200px;*/
  /*grid-column-gap: 150px;*/
  /*margin: 20px;*/
  max-width: 1335px;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  height: 550px;
  flex-basis: 20%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}


#video {
  position: relative;
  left: 400px;
}

 @media (max-height: 800px) {
    p{
      font-size: 10px;
    }

   footer {
     padding: 50px;
       background-color: aliceblue;
   }</style>


<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">


<header id="header">
  <nav id="nav-bar">
  <img src="https://www.displayfakefoods.com/store/pc/catalog/2712_2064_general.jpg" id="header-img" alt="onion ring logo">
    <h1> ORGY </h1>
   <div class="right">
    <a href="#video" class="nav-link"> Demo </a>
   <a href="#contact" class="nav-link"> Contact </a>
   <a href="#founders" class="nav-link"> Founders </a>
    </div>
  </nav>

</header>

<main>
  <hr>
  <h2 align="center" id="orgy"> Onion Ring Group for Yonc </h2>
<hr>
  <br>
<div>
  <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/AEn-m3R0R5o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     </div>
<hr>

  <h2 align="center"> Founders </h2>
<div id="founders">
  <div class="grid-row">
    <div class="grid-item">
  <%= image_tag "yonc_xtina.jpg", size: "80x30"  %> 
  </div>
   <div class="grid-item">
     <%= image_tag "yonc_joel.jpg", size: "80x30"   %> 
  </div>
  <div class="grid-item">
   <%= image_tag "yonc_sammy.jpg", size: "80x30"   %> 
  </div>
  <div class="grid-item">
   <%= image_tag "yonc_hai.jpg", size: "80x30"  %> 
 </div>
 </div>
 <div class="grid-row">
 <div class="grid-item">
  <p id="expl"> Christina </p>
  </div>
  <div class="grid-item">
  <p id="joel"> Joel </p>
  </div>
  <div class="grid-item">
  <p id="sammy"> Samantha </p>
  </div>
  <div class="grid-item">
  <p id="hai"> Hai </p>
  </div>
  </div>
</div>
  <hr>
  <div id="contact">
  <form action="/www.freecodecamp.com/email-submit" id="form" align="center">
    <h3 align="center">Input your email here for up-to-date info on upcoming events! </h3>
    <input type="email" id="email" placeholder="Email" name="email">
    <input type="submit" id="submit"></input>
    </form>
  <br>
  <br>
</div>
  
</main>

<footer>
</footer>